html, body {
  height: 100%;
}
body {
  background-color: black;
  color: green;
  padding: 0 4rem;
  font-family: monospace;
}
body * {
  font-size: 1rem;
}
hr {
  border: none;
}
hr:before {
  content: '--'
}
a {
  text-decoration: none;
  color: lightgreen;
  font-weight: bold;
}
a:before {
  content: '[';
}
a:after {
  content: ']';
}
a:hover {
  text-decoration: underline;
}
h1 {
  color: lightgreen;
}
h2, h3, h4, h5, h6 {
  font-size: 1rem;
}
h2 {
  background-color: green;
  color: black;
  padding: 0 1rem;
  margin: 1rem 0;
}
h3 {
  color: lightgreen;
}
h3, p {
  margin: 0.5rem 0;
}
section {
  padding: 0 1rem;
  margin-bottom: 3rem;
}
pre code:before,
section blockquote:before {
  position: absolute;
  font-size: 0.8rem;
  right: 0.2rem;
  bottom: 0.1rem;
}
code {
  font-style: italic;
  color: lightgreen;
}
pre,
section blockquote {
  position: relative;
  background-color: green;
  padding: 0.5rem 1rem 1.4rem 1rem;
  margin: 0 1.5rem;
}
pre {
  overflow: hidden;
}
pre code {
  font-style: normal;
}
pre code:before {
  content: "<code>";
}
blockquote {
  margin: 0;
  font-style: italic;
}
section blockquote {
  color: lightgreen;
}
section blockquote:before {
  content: "“quote”";
}
section .image img,
section iframe {
  display: block;
  margin: 0.5rem auto;
}
q {
  font-style: italic;
}
